<% provide(:title, @user.name) %>
<div class="row-fluid">
  <div class="span12">
    <div class="left-body">
      <div style="float: left; width: 100%; margin: 10px 0 20px 0">
        <h3><%= gravatar_for @user %><%= @user.name %></h3>
      </div>
      <% if @user.klinks.any? %>
        <ol class="klinks">
          <%= render partial: 'shared/feed_item', collection: @feed_items %>
        </ol>
        <%= will_paginate @feed_items %>
      <% end %>
    </div>
    <%= render 'shared/right_sidebar' %>
  </div>
</div>