<li id="<%= feed_item.id %>">
  <div class="thumb">
    <%= image_tag FlickRaw.url_b(flickr.photos.getInfo(photo_id: feed_item.picture_uri)), class: "thumb" %>
  </div>
  <span class="timestamp">
    By <%= link_to feed_item.user.name, feed_item.user %> <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete, confirm: "Are you sure?", title: feed_item.description %>
  <% end %>
</li>