<li id="<%= feed_item.id %>" class="klink">
  <%= render 'shared/klink_modal', feed_item: feed_item %>
  <div class="thumb"><a href="#modal<%= feed_item.id %>" data-toggle="modal">
    <%= image_tag FlickRaw.url_b(flickr.photos.getInfo(photo_id: feed_item.picture_uri)), class: "thumb" %></a>
  </div>
  <span class="timestamp">
    By <%= link_to feed_item.user.name, feed_item.user %> <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete, confirm: "Are you sure?", title: feed_item.description %>
  <% end %>
</li>