<div class="modal fade" id="modal<%= feed_item.id %><% if show == true %>show<% end %>" style="display: none; width: 90%; margin-left: auto; margin-right: auto; margin-top: -48%; left: 5%; max-height: 95%">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3><%= feed_item.country %>, <%= feed_item.location %></h3>
  </div>
  <div class="modal-body" style="text-align: center">
    <div>
      <%= image_tag FlickRaw.url_b(flickr.photos.getInfo(photo_id: feed_item.picture_uri)) %>
    </div>
    <div style="max-width: 960px; margin: auto">
      <div class="tabbable" style="text-align: left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#details<%= feed_item.id %><% if show == true %>show<% end %>" data-toggle="tab"><i class="icon-list-alt"></i> Details</a></li>
          <li><a href="#comments<%= feed_item.id %><% if show == true %>show<% end %>" data-toggle="tab"><i class="icon-inbox"></i> Comments</a></li>
          <li><a onclick="initialize(<%= feed_item.id %>, <%= feed_item.latitude %>, <%= feed_item.longitude %>);" href="#location<%= feed_item.id %><% if show == true %>show<% end %>" data-toggle="tab"><i class="icon-map-marker"></i> Location</a></li>
          <li><a href="#reservation<%= feed_item.id %><% if show == true %>show<% end %>" data-toggle="tab"><i class="icon-plane"></i> Reservations</a></li>
        </ul>
        <div class="tab-content">

          <div class="tab-pane active" id="details<%= feed_item.id %><% if show == true %>show<% end %>">
            <p>
              Photo Rating:   <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </p>
            <div class="well">
              <%= feed_item.description %>
              <% if feed_item.description.length == 0 %>
                No description provided.
              <% end %>
            </div>
            <span class="timestamp">
              Posted by
              <a href="users/<%= feed_item.user.id %>" rel="popover" data-content='<table><tr><td rowspan="2"><%= gravatar_for feed_item.user %></td><td><%= pluralize(feed_item.user.klinks.count, "klink") %></td></tr><tr><td><% if feed_item.user.klinks.count < 10 %><span class="label label-info">Newbie</span><% else %><span class="label label-success">Master</span><% end %></td></tr></table>' data-original-title="<%= feed_item.user.name %>">
                <%= feed_item.user.name %>
              </a>
              <%= time_ago_in_words(feed_item.created_at) %> ago.
            </span>
            <% if current_user?(feed_item.user) %>
              <%= link_to "delete", feed_item, method: :delete, confirm: "Are you sure you want to delete this klink? This action cannot be undone.", title: feed_item.description %>
            <% end %>
          </div>

          <div class="tab-pane" id="comments<%= feed_item.id %><% if show == true %>show<% end %>">
            <p>There are no comments in this klink. Be the first to comment!</p>
          </div>

          <div class="tab-pane" id="location<%= feed_item.id %><% if show == true %>show<% end %>">
            <div id="map-temp<%= feed_item.id %>" style="width: 300px; height: 300px; float: left"></div>
            <div style="float: left; padding: 20px;">
              <h3><%= feed_item.country %>, <%= feed_item.location %></h3>
              <p><br /></p>
              <p>Latitude: <%= feed_item.latitude %></p>
              <p>Longitude: <%= feed_item.longitude %></p>
            </div>
          </div>

          <div class="tab-pane" id="reservation<%= feed_item.id %><% if show == true %>show<% end %>">
            <div>
              <h3>Air travel</h3>
              <table><tr>
              <td style="float: left; margin: 5px; text-align: center">
                <img src="http://2006.shift.pt/lib/exe/fetch.php/en/conference/sponsorship/sponsors-tap-image.jpg?w=&h=&cache=cache" alt="TAP" /><br />
                <a href="#" class="btn">Buy now from TAP »</a>
              </td>
              <td style="float: left; margin: 5px; text-align: center">
                <img src="http://www.linienflug.net/pic/foto_airline/78.jpg" alt="Lufthansa" /><br />
                <a href="#" class="btn">Buy now from Lufthansa »</a>
              </td>
              <td style="float: left; margin: 5px; text-align: center">
                <img src="http://web02.aviationweek.com/media/images/MRO_photos/ryanair737-800BOEING.jpg" alt="Ryanair" /><br />
                <a href="#" class="btn">Buy now from Ryanair »</a>
              </td>
              </tr></table>
            </div>
            <div style="margin-top: 10px">
              <h3>Hotel booking</h3>
              <table><tr>
              <td style="float: left; margin: 5px; text-align: center">
                <img src="http://www.asiatravel.com/indonesia/bandung/sheraton_bandung_hoteltowers/gifs/Indonesia_Bandung_Sheraton_HotelTowers_Feast_Restaurant2.jpg" alt="Sheraton Hotel" /><br />
                <a href="#" class="btn">Buy now from Sheraton Hotel »</a>
              </td>
              <td style="float: left; margin: 5px; text-align: center">
                <img src="http://www.cataloniacaribbean.com/us/img/CRM_120_MINIFICHA_width250.png" alt="Catalonia Hotel" width="250" height="150" /><br />
                <a href="#" class="btn">Buy now from Catalonia Hotel »</a>
              </td>
              <td style="float: left; margin: 5px; text-align: center">
                <img src="http://www.hotels-in-como.com/wp-content/themes/cityguide/thumb.php?src=wp-content/uploads/2010/09/ibis.jpg&w=250&h=150&zc=1&q=90" alt="Hotel Ibis" /><br />
                <a href="#" class="btn">Buy now from Hotel Ibis »</a>
              </td>
              </tr></table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#modal<%= feed_item.id %><% if show == true %>show<% end %>').on('hidden', function () {
    <% if show == true %>
      window.history.pushState('', 'klink', '/');
    <% else %>
      window.history.back();
    <% end %>
  })
</script>

<script type="text/javascript">

  var markersArray = [];
  var map;

  function placeMarker(id, location) {
    var marker = new google.maps.Marker({
        position: location, 
        animation: null,
        map: map,
    });
    markersArray.push(marker);
    google.maps.event.addListener(marker, 'click', function() {
      window.location = '/klinks/'+id
    });
  };

  function initialize(id, lat, lng) {
    $("#map-temp"+id).attr('id','map');
    var center = new google.maps.LatLng(lat, lng);

    //var latlng = new google.maps.LatLng(40.209508,-8.419712);
    var myOptions = {
      zoom: 14,
      center: center,
      mapTypeId: google.maps.MapTypeId.SATELLITE
    };

    map = new google.maps.Map(document.getElementById("map"), myOptions);
    $.getJSON(
      '/klinks/',
      function(data) {
        for (var i = 0; i < data.length; i++) {
          var latLng = new google.maps.LatLng(data[i]["latitude"],data[i]["longitude"]);
          var marker = placeMarker(data[i]["id"], latLng);
        }
        var markerCluster = new MarkerClusterer(map, markersArray);
      }
    );
  }
</script>