<div class="modal fade" id="modal<%= feed_item.id %><% if show == true %>show<% end %>" style="display: none; width: 90%; margin-left: auto; margin-right: auto; margin-top: -48%; left: 5%; max-height: 95%">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>Klink <%= feed_item.id %></h3>
  </div>
  <div class="modal-body" style="text-align: center">
    <div>
      <%= image_tag FlickRaw.url_b(flickr.photos.getInfo(photo_id: feed_item.picture_uri)) %>
    </div>
    <div style="max-width: 960px; margin: auto">
      <div class="tabbable" style="text-align: left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#details<%= feed_item.id %><% if show == true %>show<% end %>" data-toggle="tab"><i class="icon-list-alt"></i> Details</a></li>
          <li><a href="#comments<%= feed_item.id %><% if show == true %>show<% end %>" data-toggle="tab"><i class="icon-inbox"></i> Comments</a></li>
          <li><a href="#comments<%= feed_item.id %><% if show == true %>show<% end %>" data-toggle="tab"><i class="icon-map-marker"></i> Location</a></li>
          <li><a href="#comments<%= feed_item.id %><% if show == true %>show<% end %>" data-toggle="tab"><i class="icon-plane"></i> Reservations</a></li>
        </ul>
        <div class="tab-content">

          <div class="tab-pane active" id="details<%= feed_item.id %><% if show == true %>show<% end %>">
            <p>
              Photo Rating:   <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </p>
            <div class="well">
              <%= feed_item.description %>
              <% if feed_item.description.length == 0 %>
                No description provided.
              <% end %>
            </div>
            <span class="timestamp">
              Posted by
              <a href="users/<%= feed_item.user.id %>" rel="popover" data-content='<table><tr><td rowspan="2"><%= gravatar_for feed_item.user %></td><td><%= pluralize(feed_item.user.klinks.count, "klink") %></td></tr><tr><td><% if feed_item.user.klinks.count < 10 %><span class="label label-info">Newbie</span><% else %><span class="label label-success">Master</span><% end %></td></tr></table>' data-original-title="<%= feed_item.user.name %>">
                <%= feed_item.user.name %>
              </a>
              <%= time_ago_in_words(feed_item.created_at) %> ago.
            </span>
            <% if current_user?(feed_item.user) %>
              <%= link_to "delete", feed_item, method: :delete, confirm: "Are you sure?", title: feed_item.description %>
            <% end %>
          </div>

          <div class="tab-pane" id="comments<%= feed_item.id %><% if show == true %>show<% end %>">
            <p>There are no comments in this klink. Be the first to comment!</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#modal<%= feed_item.id %><% if show == true %>show<% end %>').on('hidden', function () {
    <% if show == true %>
      window.history.pushState('', 'klink', '/');
    <% else %>
      window.history.back();
    <% end %>
  })
</script>