<style type="text/css">

  #map-container {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #999 #ccc;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
    width: 600px;
  }

  #map {
    width: 950px;
    height: 400px;
  }

</style>

<div class="modal fade" id="modalAdd" style="width: 90%; margin-left: auto; margin-right: auto; left: 5%">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>New klink</h3>
  </div>
  <div class="modal-body" style="text-align: center; max-width: 480px; margin: auto">
    <%= form_tag klinks_path, id: "newKlinkForm", multipart: true do %>
    <div class="field">
      <%= file_field_tag :photo %>
      <script>
        $('#photo').live ('change', function () {
          var f = document.getElementById("photo").value.toLowerCase();
          if(f != "" && (f.substr(-4,4) == ".jpg" || f.substr(-5,5) == ".jpeg" || f.substr(-4,4) == ".png" || f.substr(-4,4) == ".gif" || f.substr(-4,4) == ".bmp")) {
            $("#newKlinkSubmit").removeAttr("disabled");
          }
          else {
            $("#newKlinkSubmit").attr("disabled", "disabled");
          }
        })
      </script>
    </div>
    <div class="field">
      <textarea id="description" name="description" placeholder="Description"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" style="margin-top: 5px; margin-left: 6px">Cancel</button>
    <%= submit_tag "klink it!", class: "btn btn-large btn-success", disabled: "disabled", id: "newKlinkSubmit" %>
  <% end %>
  </div>
</div>

<div class="modal fade" id="modalMap" style="width: 90%; margin-left: auto; margin-right: auto; left: 5%">
  <div class="modal-header">
    <button class="close" data-dismiss="modal" onclick="mapModalClose();">&times;</button>
    <h3>Browse locations</h3>
  </div>
  <div class="modal-body" style="text-align: center; width: 100%; margin: auto; padding-left: 0px; padding-right: 0px;">
    <div id="map-temp" style="width: 100%"></div>
  </div>
</div>

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a href="/" id="logo">kli<span style="opacity: 0.6">n</span>k<span style="opacity: 0.6">r</span></a>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li class="icon">
              <a href="#modalAdd" data-toggle="modal" id="add-klink" title="Add new klink"><i class="icon-plus icon-white"></i></a>
            </li>
            <li class="icon">
              <a href="#modalMap" data-toggle="modal" id="browse" title="Show Map" onclick="initialize();"><i class="icon-map-marker icon-white"></i></a>
            </li>
            <li class="icon">
              <a href="" id="messages" title="Show Messages"><i class="icon-envelope icon-white" ></i></a>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle icon" data-toggle="dropdown">
                <i class="icon-user icon-white"></i> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to current_user.name, current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= link_to "Register", signup_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  $('#add-klink').tipsy();
  $('#browse').tipsy();
  $('#messages').tipsy();
</script>

<script type="text/javascript">

  var markersArray = [];
  var map;

  function mapModalClose(){
    $("#map").attr('id','map-temp');
    map = null;
  }

  function placeMarker(id, location) {
    var marker = new google.maps.Marker({
        position: location, 
        animation: null,
        map: map,
    });
    markersArray.push(marker);
    google.maps.event.addListener(marker, 'click', function() {
      window.location = 'http://localhost:3000/klinks/'+id
    });
  };

  function initialize() {
    $("#map-temp").attr('id','map');
    var center = new google.maps.LatLng(37.4419, -122.1419);

    var latlng = new google.maps.LatLng(40.209508,-8.419712);
    var myOptions = {
      zoom: 14,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("map"), myOptions);
    $.getJSON(
      'http://localhost:3000/klinks/',
      function(data) {
        for (var i = 0; i < data.length; i++) {
          var latLng = new google.maps.LatLng(data[i]["latitude"],data[i]["longitude"]);
          var marker = placeMarker(data[i]["id"], latLng);
        }
        var markerCluster = new MarkerClusterer(map, markersArray);
      }
    );
  }
</script>